* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}

.cards {
    max-width: 800px;
    width: 100%;
    margin: auto;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 23%;
    height: 150px;
    background-color: lightgray; 
    border: 1px solid;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-hidden {
    font-size: 0;
}